

:root
 {
   
--colb: #D6D6D6;
--colback:  #41644A;
--colbcard: #BDBDBD;


--colemis: #13aa82;
--coltit: #404040;

--colallo: #3111ab;

--coldiff: #0e5faa;
--colprice: #c66910;
--colcost: #361c77;
--colcu: #df16e2;


--colallo:#3c9990;

--colemis:#98428c;


--coldiff: #3f6099;
--colprice:#cca357;
--colcost: #8457cd;

--colcu: #a12da7;




--colm: #89D681;
--colo: #E86A33;
--colink: #C98B2C;
--colbut: #C98B2C;
--colslide: brown;
--colinfo: orange;
--collinea: #41644A;
--collineb: #41644A;

--colb: #484B4D; 
--colb: #89D681;

--colbcard:  #c9d1ca;
--colb: #6CA56C;
--colb: #67CEC4;

--colb: #D3DDE0;

--colt: #426f83;
--colm: #67CEC4;
--colo: #AA8B56;

--colbtable:#e7e7e7;


--colink: #54cae3;
--colink: #4ba180;

--colbut:  #c2e6ff;
--colslide:#67CEC4;
--colcheck: #5ABAE0;

--collinea: #41644A;
--collinea: #D3DDE0;

--collineb: #d7d7d7;
--backs:  #ededed5e;
--coltab: #89D681;
--colba: #cccccc;

}  
.irs--shiny.irs-with-grid {
height: 40px;
}


.irs--shiny .irs-single {
  font-size: 13px;
  border-color: white;
    border: solid;
    border-width: thin;
}
  
.irs-grid-text {
  font-size: 0px;
}

.form-group {
 margin-bottom: 3px;
}

.irs-grid-pol {
      height: 0px;

}
/* .bcnavbar {
  direction: rtl;
}

.bcnavbar tr,
.bcnavbar td {
   -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
*/

.irs--shiny .irs-bar::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 22px;
    top: -9px;
    z-index: 2;
}

.slidy {
     padding: 5px;
  margin: 3px;   

  padding-bottom: -5vw!important;
  color:white!important; 
 border-color: black;
  padding-top: .2vw; 
}

.boxy {
  color:white; font-weight: 600;
 margin: 3px; padding: 5px;
}


hr {border-top: 2px solid white; margin-bottom:13px; margin-top:13px;}

h3 {
      margin-top: 0;
  
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: var(--colba);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}


.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color:  var(--coltab);
    color: black;
}
/* 
  margin-right: -0.2vw; 

.shiny-plot-output, .html-fill-item, .hiny-bound-output {
  overflow-x: scroll;
    direction: rtl !important;
  
  
}


.shiny-plot-output, .html-fill-item, .hiny-bound-output {

    direction: ltr;
  
   align-items:lef;
}
/* 

.shiny-plot-output::before{ content:''; display:block; width:400%; height:1px; }
